#ul-dashboard {
    .slip-card > * .item {
        padding-bottom: 5px;
    }

    .payout-box {
        pointer-events: none;
    }

    .scroll-bottom-btn {
        border-radius: 0rem;
        position: fixed;
        height: 50px;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 100;
    }
}
