#ul-dashboard {
    .creator-code {
        margin-left: 4px;
    }

    .creator-code-input {
        font-size: 1.42857143em;
    }

    .slip-card > * .item {
        padding-bottom: 5px;
    }

    .payout-box {
        pointer-events: none;
    }

    .scroll-bottom-btn {
        border-radius: 0rem;
        position: fixed;
        height: 50px;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 100;
    }

    .ui.tabular.menu .item {
        padding-left: 10px;
        padding-right: 10px;
    }

    .over-under-header {
        margin-top: 5px;
    }
}
