#ul-signup {
    .logo {
        max-width: 320px;
        margin: 0px auto;
        display: block;
        margin-bottom: 30px;
    }

    .main-grid {
        margin-top: 30px;
    }

    thead.suicr-year-view-header > tr > th:nth-child(2) {
        pointer-events: none;
    }

    // Hack for the datepicker. Should
    // find cleaner solution
    .field {
        width: 100%;
    }
}
